*{
    padding :0%;
    margin:0%;
    box-sizing: border-box;
}

html,body{
    width:100%;
    font: size 16px;;
    background: #fcfafa;
    color: rgb(7, 7, 7);
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: rgb(255, 8, 0);
}

h1{
    font-size: 250%;
}